* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: auto;
  align-items: center;
}

main h1 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 50px;
  margin-bottom: 30px;
}

span {
  margin-top: 30px;
  font-size: 20px;
  font-family: Helvetica, Arial, sans-serif;
}

.profile-pic {
  max-width: 50%;
  margin: auto;
  border-radius: 100%;
}