body {
    background-color: rgb(7, 10, 54) ;
    color: white;
}

.content {
    max-width: 60%;    
    font-family: monospace, sans-serif;
    margin: auto;
    text-align: center;   
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 5em;
}

.header-text {
    color:rgb(0, 135, 165);
}

.profile-pic {
    border-radius: 100%;
    border: 4px solid rgb(80, 121, 131);
    margin:5px 25px;
    width: 15%; 
    float:left;
}

.about-me-text  {    
    text-align: left;
    padding-top: 20px;
    width: auto;
}

.navegação {
    font-family: monospace;
}

.about-me-content {
    margin-bottom: 60px;
    vertical-align: top;
    display: inline-block;
}

li {
    list-style-type: none;
}

.skills {
    text-align: left;  
}

